@import url(https://fonts.googleapis.com/css?family=Open+Sans);

// Variables

@primary-color: #222;
@secondary-color: #444;
@text-color: #aaa;
@link-color: #5291d8;
@scrollbar-background: #111;
@scrollbar-foreground: #333;
@header-height: 10rem;
@tile-size: 20em;
@bold: 700;
@card-width: 330px;
@border-style: 1px solid @secondary-color;
@main-font: 'Open Sans', Arial, Helvetica, sans-serif;
@background-image: url(/images/misc/bg.png);
@article-media-min-width: 1281px;

body {
	font-family: @main-font;
	font-size: 1rem;
	background-image: @background-image;
	background-color: @primary-color;
	color: @text-color;
	margin: 0;
}

#page_container {
	margin: 1em;
	padding: 0.75em;
	background-color: #33333355;
	border-radius: 1.5em;
}

header {
	position: relative;
	height: @header-height;
	font-size: 2.5rem;
	font-weight: @bold;
	text-align: center;
	border-bottom: @border-style;
}

#header_text {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-decoration: none;
}

#resume_link {
	position: absolute;
	display: block;
	right: 0;
	bottom: 0;
	margin-right: 0.4em;
	font-size: 1rem;
	text-decoration: none;
}

#homepage_content_container {
	#base_content_container();

	display: grid;
	grid-template-columns: repeat(auto-fill, @card-width);
	grid-template-rows: repeat(4, auto);
	justify-content: center;

	@media screen and (max-width: 1414px) and (min-width: 1073px) {
		grid-template-columns: repeat(2, @card-width);
	}

	& > .section_title {
		grid-column-start: 1;
		grid-column-end: -1;

		@media screen and (max-width: 754px) {
			text-align: center;
		}

		& > h2 {
			text-decoration: underline;
			text-decoration-color: @secondary-color;
		}
	}

	.cols {
		display: block;
		max-width: @tile-size;
		margin: 1em;
	}

	a {
		text-decoration: none;
		color: @text-color;

		& > div:hover {
			color: @text-color + 50;

			& > img {
				background-color: @secondary-color + 10;
			}
		}
	}
}

#content_container {
	#base_content_container();
	.blue_link();

	& > article {
		@media screen and (min-width: @article-media-min-width) {
			margin: 0 25%;
		}

		background-color: @primary-color;
		border-radius: 0.5em;
		padding: 1em;

		& > h2 {
			@media screen and (min-width: @article-media-min-width) {
				font-weight: 600;
			}

			font-weight: 500;
			margin-top: 0;
		}
	}
}

.img_tile {
	background-color: @secondary-color;
	.img();
}

footer {
	font-size: 0.7em;
	margin-top: 1em;
	padding-top: 0.4em;
	border-top: @border-style;

	& > .footer_right {
		float: right;
		.blue_link();
	}
}

// Misc

#full_image {
	position: fixed;
	z-index: 10;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	.img();
}

#image_close {
	position: fixed;
	right: 1em;
	z-index: 10;
	font-size: 2em;
	user-select: none;
}

#play_button {
	width: 150px;
}

pre {
	padding: 10px;
	background-color: @primary-color;
	border: @border-style;
	border-radius: 0.5em;
	overflow-x: scroll;

	&::-webkit-scrollbar {
		display: none;
	}
}

// Mixins

#base_content_container() {
	padding: 1em;
}

.blue_link {
	a {
		color: @link-color;
		overflow-wrap: break-word;

		&:hover {
			color: @link-color + 30;
		}
	}
}

// W3C

.card {
	box-shadow:
		0 2px 5px 0 rgba(0, 0, 0, 0.16),
		0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.container {
	padding: 0.01em 16px;
}

.img {
	max-width: 100%;
	height: auto;
}

// Custom Scrollbar

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
	background-color: @scrollbar-background;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: @scrollbar-background;
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: @scrollbar-foreground;
}
