@import url(https://fonts.googleapis.com/css?family=Open+Sans);

// Variables

@primary-color: #222;
@secondary-color: #444;
@text-color: #aaa;
@link-color: #5291d8;
@scrollbar-background: #111;
@scrollbar-foreground: #333;
@header-height: 10rem;
@tile-size: 20em;
@bold: 700;
@card-width: 330px;
@border-style: 1px solid @secondary-color;
@main-font: 'Open Sans', Arial, Helvetica, sans-serif;
@background-image: url(/images/misc/bg.png);
@article-media-min-width: 1280px;

body {
	font-family: @main-font;
	font-size: 1rem;
	background-image: @background-image;
	background-color: @primary-color;
	color: @text-color;
	margin: 0;
}

#page_container {
	margin: 1em;
	padding: 0.75em;
	background-color: #33333355;
	border-radius: 1.5em;
}

header {
	position: relative;
	height: @header-height;
	font-size: 2.5rem;
	font-weight: @bold;
	text-align: center;
	border-bottom: @border-style;
}

#header_text {
	position: absolute;
	display: block;
	text-decoration: none;
	.absolute_center();
}

#back_button {
	position: absolute;
	left: 0.4rem;
	bottom: 0;
	font-size: 2rem;
	font-weight: normal;
	text-decoration: none;
}

#resume_link {
	position: absolute;
	display: block;
	right: 0.4rem;
	bottom: 0;
	font-size: 1rem;
	text-decoration: none;
}

#homepage_content_container {
	#base_content_container();

	display: grid;
	grid-template-columns: repeat(auto-fill, @card-width);
	grid-template-rows: repeat(4, auto);
	justify-content: center;

	& > .section_title {
		grid-column-start: 1;
		grid-column-end: -1;

		@media screen and (max-width: 754px) {
			text-align: center;
		}

		& > h2 {
			text-decoration: underline;
			text-decoration-color: @secondary-color;
		}
	}

	.cols {
		display: block;
		max-width: @tile-size;
		margin: 1em;
	}

	a {
		text-decoration: none;
		color: @text-color;

		& > div:hover {
			color: @text-color + 50;

			& > div.tile_container {
				background: @secondary-color + 10;
				background: radial-gradient(circle, @secondary-color + 20 0%, @secondary-color 100%);
			}
		}
	}
}

#content_container {
	#base_content_container();
	.blue_link();

	& > article {
		@media screen and (min-width: @article-media-min-width) {
			margin: 0 25%;
		}

		background-color: @primary-color;
		border-radius: 0.5em;
		padding: 1em;

		& > h2 {
			@media screen and (min-width: @article-media-min-width) {
				font-weight: 600;
			}

			font-weight: 500;
			margin-top: 0;
		}
	}
}

.img_tile {
	max-height: 100%;
	max-width: 100%;
	padding: 0.7em 0;
}

.short_img_tile {
	padding: 15% 0;
}

.tile_container {
	background-color: @secondary-color;
	display: flex;
	justify-content: center;
	height: 175px;
}

footer {
	font-size: 0.7em;
	margin-top: 1em;
	padding-top: 0.4em;
	border-top: @border-style;

	& > .footer_right {
		float: right;
		.blue_link();
	}
}

// Gallery

#image_gallery {
	& > a {
		text-decoration: none;
		height: 100%;
	}
	img {
		padding: 5px;
	}
	&::-webkit-scrollbar {
		display: none;
	}
	overflow-y: auto;
	display: flex;
}

.gallery_button {
	background-color: #111;
	border: solid #333 2px;
	border-radius: 0.5em;
	cursor: pointer;
	font-size: 2em;
	padding: 0 0.5em;
	position: fixed;
	user-select: none;
	z-index: 1;
}

.gallery_button:active {
	filter: brightness(1.5);
}

#full_image {
	position: fixed;
	z-index: 1;
	max-width: 100%;
	max-height: 100%;
	.absolute_center();
}

#image_close {
	position: fixed;
	right: 0.5em;
	font-size: 2em;
	padding: 0 0.5em;
}

#image_prev {
	top: 50%;
	transform: translateY(-50%);
	left: 0.5em;
}

#image_next {
	top: 50%;
	transform: translateY(-50%);
	right: 0.5em;
}

// Misc

#play_button {
	width: 150px;
}

pre {
	padding: 10px;
	background-color: @primary-color;
	border: @border-style;
	border-radius: 0.5em;
	overflow-x: scroll;

	&::-webkit-scrollbar {
		display: none;
	}
}

// Mixins

#base_content_container() {
	padding: 1em;
}

.absolute_center() {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.blue_link {
	a {
		color: @link-color;
		overflow-wrap: break-word;

		&:hover {
			color: @link-color + 30;
		}
	}
}

// W3C

.card {
	box-shadow:
		0 2px 5px 0 rgba(0, 0, 0, 0.16),
		0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.container {
	padding: 0.01em 16px;
}

// Custom Scrollbar

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
	background-color: @scrollbar-background;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: @scrollbar-background;
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: @scrollbar-foreground;
}
