body .gist .gist-meta {
	color: #fff;
	background: #000;
}

body .gist .gist-file,
body .gist .gist-file .gist-data {
	border-color: dimgray;
}

body .gist .gist-file .gist-data {
	background-color: transparent;
}
